/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
:root {
  --mainColor: #173753;
  --sColor: #1b4353;
  --mainColor-light: #62a8ac;
  --mainColor-lighter: #5497a7;
  --whiteColor: #fffdf7;
}
body {
  overflow-x: hidden;
  font-family: "El Messiri" !important;
}
html {
  font-size: 10px;
}
